<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyMAFLogonUseFlowMode</key>
	<true/>
	<key>keyMAFLogonAllowAutomaticSecureStoreCreation</key>
	<false/>
	<key>keyMAFLogonUseSplashScreen</key>
	<true/>
	<key>keyMAFLogonOperationContextHideRegistrationFields</key>
	<dict>
		<key>keyMAFLogonOperationContextServerDomain</key>
		<true/>
		<key>keyMAFLogonOperationContextBackendUserName</key>
		<false/>
		<key>keyMAFLogonOperationContextActivationCode</key>
		<false/>
		<key>keyMAFLogonOperationContextMobileUser</key>
		<false/>
		<key>keyMAFLogonOperationContextBackendPassword</key>
		<false/>
		<key>keyMAFLogonOperationContextResourcePath</key>
		<false/>
		<key>keyMAFLogonOperationContextGatewayPingPath</key>
		<false/>
		<key>keyMAFLogonOperationContextGatewayClient</key>
		<true/>
		<key>keyMAFLogonOperationContextIsHttps</key>
		<false/>
		<key>keyMAFLogonOperationContextSecurityConfig</key>
		<false/>
		<key>keyMAFLogonOperationContextFarmId</key>
		<false/>
		<key>keyMAFLogonOperationContextServerPort</key>
		<false/>
		<key>keyMAFLogonOperationContextServerHost</key>
		<false/>
	</dict>
	<key>idMAFLogonOperationContextTypeUnlockSecureStore</key>
	<dict>
		<key>HasNavigationBar</key>
		<false/>
		<key>ActionItems</key>
		<dict>
			<key>idMAFLogonActionItemStart</key>
			<dict>
				<key>ActionItemPosition</key>
				<string>Bottom</string>
			</dict>
			<key>idMAFLogonActionItemCancel</key>
			<dict>
				<key>ActionItemPosition</key>
				<string>Bottom</string>
				<key>ActionItemStyle</key>
				<string>MAFLogonUILinkButton</string>
			</dict>
		</dict>
	</dict>
	<key>idMAFLogonOperationContextTypeSplash</key>
	<dict>
		<key>HasNavigationBar</key>
		<string>NO</string>
		<key>ActionItems</key>
		<dict>
			<key>idMAFLogonActionItemStart</key>
			<dict>
				<key>ActionItemPosition</key>
				<string>Bottom</string>
			</dict>
			<key>idMAFLogonActionItemCancel</key>
			<dict>
				<key>ActionItemPosition</key>
				<string>Bottom</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
